#slider {
    width: 720px;
    height: auto;
    overflow: hidden;
    border: 1px solid #474747;
    position: relative;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 540px;
    margin: 0;
    padding: 0;

}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 540px;
}

.indicator {
  width: 720px;
  background: #ffdb4d;
}
.strip {
  height: 4px;
  background: #ff0000;
  width: 0;
}
.slider-controls {
  background: #474747;
}
.slider-controls img{
  height: 14px;
  width: auto;
  color: #fff;
  float: left;
  margin-left: 10px;
  margin-right: 10px;

}
.slider-controls img:hover{
cursor: pointer;
}
.slider-controls div{
  display: inline-block;
}
.slider-controls p {
  padding-top: 20px;
  padding-bottom: 20px;
text-align: center;
}
.slider-count {
  display: inline-block;
}
.arrows span {
  display: inline-block;
}

.slider-count label{
  text-align: center;
  display: inline-block;
  font-size: 1em;
  color: #fff;
  line-height: 1;
  margin-bottom: 0px;
  vertical-align:text-top;
}
.right-control-field {
  position: absolute;
  width: 150px;
  height: 540px;
  right: 0px;
  top: 0px;
}
.right-control-field:hover {
  cursor: pointer;
}
.left-control-field {
  position: absolute;
  width: 150px;
  height: 540px;
  left: 0px;
  top: 0px;
}
.left-control-field:hover {
    cursor: pointer;
}
